#!/usr/bin/env python3

import CHIP_IO.GPIO as GPIO
import requests, time, signal, sys
from urllib.parse import urlparse

url = '{{ lookup('env','LOVETRACK_SERVER_URL') }}'
username = urlparse(url).username

def on_sigint(signal, frame):
  print('Exiting after SIGINT', flush=True)
  GPIO.cleanup()
  sys.exit(0)

signal.signal(signal.SIGINT, on_sigint)

GPIO.setup("XIO-P7", GPIO.OUT) # LED to GND via resistor
GPIO.setup("XIO-P0", GPIO.IN)  # Button to GND

while True:
  GPIO.output("XIO-P7", 1) # "ready"

  print("Waiting for falling edge on XIO-P0", flush=True)
  GPIO.wait_for_edge("XIO-P0", GPIO.FALLING)

  print("Detected falling edge on XIO-P0", flush=True)
  GPIO.output("XIO-P7", 0) # "not ready"

  try:
      r = requests.post(url, auth=(username, ''))
      print("Status: %i; Body: %s" % (r.status_code, r.text), flush=True)
  except requests.exceptions.RequestException as e:
      print("Error: {}".format(e), flush=True)

  time.sleep(1) # don't press the button more than once a second
