[Unit]
Description=LoveTrack Button
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/lovetrack-button

[Install]
WantedBy=default.target
