[Unit]
Description=LoveTrack Button
After=network.target

[Service]
Type=simple
ExecStart=/opt/lovetrack-button/bin/lovetrack-button
Restart=always

[Install]
WantedBy=default.target
